.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App .header {
  width: 100%;
  height: 68px;
  padding: 14px 8px 8px 30px;
  box-sizing: border-box;
  font-size: 1.4em;
  line-height: 44px;
  color: white;
  background-color: #000;
}
.App .home-h1 {
  text-align: center;
  padding-top: 6%;
  font-size: 32px;
  font-weight: bold;
  font-family: 'circular';
}
.App .app-container input{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}


